<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Benchmarking CMAA - Confirmação de Conta</title>
    <link rel="stylesheet" href="/css/cores.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/login.css" />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link
      rel="shortcut icon"
      href="/img/fav-ico/favicon.ico"
      type="image/x-icon"
    />
  </head>

  <body>
    <div class="container">
      <div class="painel-esquerdo">
        <div class="logo">
          <img src="/img/logo.png" class="logo" />
        </div>
        <h1>Bem-vindo!</h1>
        <p>
          Sistema Desenvolvido por Hadare Tecnologia da Informação para a
          Companhia Mineira de Açúcar e Álcool.
        </p>
      </div>

      <div class="painel-direito">
        <div class="login">
          <h2>Confirmação de Conta</h2>
          <h3><%= message %></h3>
          <a class="btn" href="/login">Entrar</a>
        </div>
      </div>
    </div>
    <script src="/js/theme.js"></script>
  </body>
</html>
