<div class="row">
  <div class="col-sm-12 bg-secondary">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12 py-0 mb-10">
        <button id="gerarPdf" class="btn btn-primary">Gerar PDF</button>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-12" id="relatorio">
        <label for="dados">Dados Agrícolas:</label>
        <table id="dados" class="mt-10 display">
          <thead>
            <tr>
              <th>Empresa</th>
            </tr>
          </thead>
          <tbody></tbody>
          <tfoot></tfoot>
        </table>
      </div>

      <div class="col-sm-12 col-md-12 col-lg-12" id="GraficoImpurezasMineral">
        <h2>Impureza Mineral</h2>
        <canvas id="graficoImpurezasMineral" width="400" height="200"></canvas>
      </div>

      <div class="col-sm-12 col-md-12 col-lg-12" id="GraficoImpurezasVegetal">
        <h2>Impureza Vegetal</h2>
        <canvas id="graficoImpurezasVegetal" width="400" height="200"></canvas>

        <div class="indice-idea-container">
          <h2>Índice IDEA</h2>
          <table class="indice-idea-table">
            <thead>
              <tr>
                <th>Classificação</th>
                <th>Centro - Sul</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Ótimo</td>
                <td>>220</td>
              </tr>
              <tr>
                <td>Bom</td>
                <td>210 a 220</td>
              </tr>
              <tr>
                <td>Regular</td>
                <td>200 a 210</td>
              </tr>
              <tr>
                <td>Ruim</td>
                <td><200</td>
              </tr>
            </tbody>
          </table>
          <p class="indice-idea-formula">
            <strong>Fórmula Ind. IDEA =</strong>
            <span>TCH + (ATR × 0,67) + (Idade Média × 10)</span>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
