<div class="row">
  <div class="col-sm-12 bg-secondary">
    <div class="row">
      <div class="form-group col-sm-12 col-md-12 col-lg-6">
        <label for="safraId">Safra</label>
        <select id="safraId" name="safraId">
          <option value="" disabled selected>Selecione uma Safra</option>
          <% if (safras && safras.length> 0) { %> <% safras.forEach(safra=> { %>
          <option value="<%= safra.id %>"><%= safra.ano %></option>
          <% }); %> <% } %>
        </select>
      </div>
      <div class="form-group col-sm-12 col-md-12 col-lg-6">
        <label for="periodoId">Período</label>
        <select id="periodoId" name="periodoId">
          <option value="" disabled selected>Selecione um Período</option>
        </select>
      </div>
      <div class="form-group col-sm-12 col-md-12 col-lg-12">
        <label for="empresasSelect">Empresas:</label>
        <select
          id="empresasSelect"
          class="js-example-basic-multiple form-control"
          name="empresas[]"
          multiple="multiple"
        ></select>
      </div>
    </div>
  </div>
</div>

<div id="partial-container">
  <div class="row">
    <div class="col-sm-12 bg-secondary">
      <div class="row">
        <!-- <div class="col-sm-12 col-md-12 col-lg-12 py-0 mb-10">
          <button id="gerarPdf" class="btn btn-primary">Gerar PDF</button>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12" id="relatorio">
          <label for="dados">Dados Agrícolas:</label>
          <table id="dados" class="mt-10 display">
            <thead>
              <tr>
                <th>Empresa</th>
              </tr>
            </thead>
            <tbody></tbody>
            <tfoot></tfoot>
          </table>
        </div> -->

        <div id="graficos" class="w-100 d-none">
          <!-- <div class="col-sm-12 col-md-12 col-lg-12" id="GraficoIDEA">
            <h2 class="mb-10">Índice IDEA do Benchmarking Acumulado</h2>
            <canvas
              class="grafico"
              id="graficoIDEA"
              width="400"
              height="200"
            ></canvas> -->

          <!-- <div class="indice-idea-container px-10">
              <h2>Índice IDEA</h2>
              <table class="indice-idea-table">
                <thead>
                  <tr>
                    <th>Classificação</th>
                    <th>Centro - Sul</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Ótimo</td>
                    <td>>220</td>
                  </tr>
                  <tr>
                    <td>Bom</td>
                    <td>210 a 220</td>
                  </tr>
                  <tr>
                    <td>Regular</td>
                    <td>200 a 210</td>
                  </tr>
                  <tr>
                    <td>Ruim</td>
                    <td><200</td>
                  </tr>
                </tbody>
              </table>
              <p class="indice-idea-formula">
                <strong>Fórmula Ind. IDEA =</strong>
                <span>TCH + (ATR × 0,67) + (Idade Média × 10)</span>
              </p>
            </div> -->

          <div
            class="col-sm-12 col-md-12 col-lg-12"
            id="GraficoImpurezasVegetal"
          >
            <h2 class="mb-10">Impureza Vegetal</h2>
            <canvas
              class="grafico"
              id="graficoImpurezasVegetal"
              width="400"
              height="200"
            ></canvas>
          </div>

          <div class="col-sm-12 col-md-12 col-lg-12" id="GraficoPureza">
            <h2 class="mb-10">Pureza</h2>
            <canvas
              class="grafico"
              id="graficoPureza"
              width="400"
              height="200"
            ></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
