<div class="row">
  <div class="col-sm-12 bg-secondary">
    <div class="row">
      <div class="form-group col-sm-12 col-md-12 col-lg-6">
        <label for="safraId">Safra</label>
        <select id="safraId" name="safraId">
          <option value="" disabled selected>Selecione uma Safra</option>
          <% if (safras && safras.length> 0) { %> <% safras.forEach(safra=> { %>
          <option value="<%= safra.id %>"><%= safra.ano %></option>
          <% }); %> <% } %>
        </select>
      </div>
      <div class="form-group col-sm-12 col-md-12 col-lg-6">
        <label for="periodoId">Período</label>
        <select id="periodoId" name="periodoId">
          <option value="" disabled selected>Selecione um Período</option>
        </select>
      </div>
      <div class="form-group col-sm-12 col-md-12 col-lg-12">
        <label for="empresasSelect">Empresas:</label>
        <select
          id="empresasSelect"
          class="js-example-basic-multiple form-control"
          name="empresas[]"
          multiple="multiple"
        ></select>
      </div>
    </div>
  </div>
</div>

<div id="partial-container">
  <div class="row">
    <div class="col-sm-12 bg-secondary">
      <div class="row">

        <div id="nada" class="w-100 d-none">
          <div class="col-sm-12 col-md-12 col-lg-12">
            <h2 class="graficoTitulo" style="margin-top: 0 !important">
              Nenhum dado encontrado.
            </h2>
          </div>
        </div>

        <div id="graficos" class="w-100 d-none">
          <div class="col-sm-12 col-md-12 col-lg-12" id="relatorio">
            <h2 class="graficoTitulo" style="margin-top: 0 !important">Dados Agrícolas</h2>
            <table id="dados" class="display">
              <thead>
                <tr>
                  <th rowspan="2">Usina</th>
                  <th rowspan="2">Início Safra</th>
                  <th rowspan="2">Moagem Acu. (t)</th>
                  <th rowspan="2">% Realizado</th>
                  <th rowspan="2">ATR Dia (KG/T)</th>
                  <th rowspan="2">ATR Acu. (KG/T)</th>
                  <th rowspan="2">TCH Est.</th>
                  <th rowspan="2">TCH Real.</th>
                  <th rowspan="2">TCH Var. (%)</th>
                  <th rowspan="2">Idade Média</th>
                  <th rowspan="2">Índice IDEA</th>
                  <th rowspan="2">I.I.F. (%)</th>
                  <th rowspan="2">Ind. Pluv. (mm)</th>
                  <th rowspan="2">Pureza (%)</th>
                  <th rowspan="2">Altitude (m)</th>
                  <th colspan="5">Ambiente de Produção</th>
                  <th rowspan="2">Observação</th>
                </tr>
        
                <tr>
                  <th>A</th>
                  <th>B</th>
                  <th>C</th>
                  <th>D</th>
                  <th>E</th>
                </tr>
              </thead>
              <tbody></tbody>
              <tfoot class="d-none">
                <tr>
                  <th colspan="2">TOTAIS</th>
                  <th id="totalMoagem" class="text-center"></th>
                  <th></th>
                  <th id="totalATR_Dia" class="text-center"></th>
                  <th id="totalATR_Acumulado" class="text-center"></th>
                  <th id="totalTCH_Estimado" class="text-center"></th>
                  <th id="totalTCH_Realizado" class="text-center"></th>
                  <th id="totalTCH_Variacao" class="text-center"></th>
                  <th id="totalIdadeMedia" class="text-center"></th>
                  <th id="totalIndiceIdea" class="text-center"></th>
                  <th id="totalIIF" class="text-center"></th>
                  <th id="totalChuva" class="text-center"></th>
                  <th id="totalPureza" class="text-center"></th>
                  <th id="totalAltitude" class="text-center"></th>
                  <th colspan="5"></th>
                  <th></th>
                </tr>
              </tfoot>
            </table>
          </div>

          <div class="col-sm-12 col-md-12 col-lg-12" id="GraficoProducao">
            <h2 class="graficoTitulo">
              Produção Estimada X Produção Reestimada
            </h2>
            <canvas
              class="grafico"
              id="graficoProducao"
              width="400"
              height="200"
            ></canvas>
          </div>

          <div class="col-sm-12 col-md-12 col-lg-12" id="GraficoProducaoAcumulada">
            <h2 class="graficoTitulo">
              Produção Acumulada
            </h2>
            <canvas
              class="grafico"
              id="graficoProducaoAcumulada"
              width="400"
              height="200"
            ></canvas>
          </div>

          <div class="col-sm-12 col-md-12 col-lg-12" id="GraficoTCH">
            <h2 class="graficoTitulo">
              TCH Estimado X TCH Realizado
            </h2>
            <canvas
              class="grafico"
              id="graficoTCH"
              width="400"
              height="200"
            ></canvas>
          </div>
          
          <div class="col-sm-12 col-md-12 col-lg-12" id="GraficoATR">
            <h2 class="graficoTitulo">
              ATR Médio Acumulado
            </h2>
            <canvas
              class="grafico"
              id="graficoATR"
              width="400"
              height="200"
            ></canvas>
          </div>

          <div class="col-sm-12 col-md-12 col-lg-12" id="GraficoTAH">
            <h2 class="graficoTitulo">TAH Médio</h2>
            <canvas
              class="grafico"
              id="graficoTAH"
              width="400"
              height="200"
            ></canvas>
          </div>

          <div
            class="col-sm-12 col-md-12 col-lg-12"
            id="GraficoIndiceInfestacao"
          >
            <h2 class="graficoTitulo">Índice de Infestação Final</h2>
            <canvas
              class="grafico"
              id="graficoIndiceInfestacao"
              width="400"
              height="200"
            ></canvas>
          </div>

          <div class="col-sm-12 col-md-12 col-lg-12" id="GraficoChuvaAcumulada">
            <h2 class="graficoTitulo">Índice Pluviométrico - Acumulado</h2>
            <canvas
              class="grafico"
              id="graficoChuvaAcumulada"
              width="400"
              height="200"
            ></canvas>
          </div>

          <div class="col-sm-12 col-md-12 col-lg-12" id="GraficoIDEA">
            <h2 class="graficoTitulo">Índice IDEA do Benchmarking Acumulado</h2>
            <canvas
              class="grafico"
              id="graficoIDEA"
              width="400"
              height="200"
            ></canvas>

            <div class="indice-idea-container">
              <h2 class="graficoTitulo">Índice IDEA</h2>
              <table class="indice-idea-table">
                <thead>
                  <tr>
                    <th>Classificação</th>
                    <th>Centro - Sul</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Ótimo</td>
                    <td>>220</td>
                  </tr>
                  <tr>
                    <td>Bom</td>
                    <td>210 a 220</td>
                  </tr>
                  <tr>
                    <td>Regular</td>
                    <td>200 a 210</td>
                  </tr>
                  <tr>
                    <td>Ruim</td>
                    <td><200</td>
                  </tr>
                </tbody>
              </table>
              <p class="indice-idea-formula">
                <strong>Fórmula Ind. IDEA =</strong>
                <span>TCH + (ATR × 0,67) + (Idade Média × 10)</span>
              </p>
            </div>
          </div>

          <div
            class="col-sm-12 col-md-12 col-lg-12"
            id="GraficoImpurezasMineral"
          >
            <h2 class="graficoTitulo">Impureza Mineral</h2>
            <canvas
              class="grafico"
              id="graficoImpurezasMineral"
              width="400"
              height="200"
            ></canvas>
          </div>

          <div
            class="col-sm-12 col-md-12 col-lg-12"
            id="GraficoImpurezasVegetal"
          >
            <h2 class="graficoTitulo">Impureza Vegetal</h2>
            <canvas
              class="grafico"
              id="graficoImpurezasVegetal"
              width="400"
              height="200"
            ></canvas>
          </div>

          <div class="col-sm-12 col-md-12 col-lg-12" id="GraficoPureza">
            <h2 class="graficoTitulo">Pureza</h2>
            <canvas
              class="grafico"
              id="graficoPureza"
              width="400"
              height="200"
            ></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
